* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  user-select: none;
}

body {
  text-align: center;
}

#box {
  width: 719px;
  height: 942px;
  border: 1px solid black;
  display: inline-block;
  background: white;
  position: relative;
}

html {
  background: black;
}

#twitter, #twitter a {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 800;
}

@import "app";
