#panel-side {
  --button-size: 36px;
  --background: #ffd600;
  text-align: center;
  position: absolute;
  right: 0;
  width: var(--button-size);
  top: 94px;
  vertical-align: middle;
  opacity: 1;
  > div:first-child{
    border-top-left-radius: calc(var(--button-size) / 4);
  }


  > div {
    display: inline-block;
    background: var(--background);
    line-height: var(--button-size);
    font-size: var(--button-size);
    cursor: pointer;
    height: var(--button-size);
    width: var(--button-size);
    border: 1px solid black;
    border-right: none;
    color: black;
    vertical-align: middle;
  }
  > div:last-child {
    border-bottom-left-radius: calc(var(--button-size) / 4);
  }
  .mute {
    background: var(--background) url("../assets/img/Speaker.svg") no-repeat 50% 50%;
    background-size:80%;
  }
  .optionsPopup{
    background: var(--background) url("../assets/img/Gears.svg") no-repeat 50% 50%;
    background-size:80%;
  }

  &.hidden {
    opacity: 0.3;
    > div.switch {
      border-bottom-left-radius: calc(var(--button-size) / 4);
    }
    > div {
      display: none;
    }
    > .switch {
      display: inline-block;
    }
  }
}
