#panel-options {
  --padding-side: 20px;
  background: #ccc;
  height: 100%;
  padding: var(--padding-side);
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;

  > section {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #ddd;
  }
  &::-webkit-scrollbar-thumb {
    background: #666;
  }

  &.hidden {
    display: none;
  }
  .head {
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
  }

  .title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    position: relative;
    font-weight: 800;
    &:after {
      content: " ";
      position: absolute;
      width: 75%;
      height: 2px;
      bottom: 0;
      left: calc(0px - var(--padding-side));
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 5%, #fff 50%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
    }
  }
  .close-options:after {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    content: "×";
    font-size: 18px;
    line-height: 20px;
    color: black;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    vertical-align: middle;
  }

  .options {
    display: table;
    width: 100%;
    .panel-option {
      width: 100%;
      display: table-row;
      &:nth-child(2n+1) {
        background: #eee;
      }
      .option-name, .option-box {
        padding: 5px;
        display: table-cell;
        text-align: left;
      }
      .option-name {
        padding-left: 20px;
        font-weight: 600;
        table-layout: fixed;
        width: 40%;
      }
      .option-box {
        input[type='text'] {
          width: 90%;
          padding: 5px;
        }
      }
    }
  }
}