<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<div id="box">
    <div id="panel">
        <panel-header :storage="storage" :slots="slots" :commander="commander"></panel-header>
        <panel-main :fleets="fleets" :enemies="enemies" :current_main_panel="current_main_panel"></panel-main>
        <div id="panel-help"></div>
    </div>
    <div id="twitter"><a href="https://twitter.com/tsekino0530" rel="noopener" target="_blank">https://twitter.com/tsekino0530</a>
    </div>
    <panel-options :options="options"></panel-options>
</div>

<script type="text/x-template" id="panel-options-template">
    <div id="panel-options" :class="{hidden:hidden}">
        <div class="switch" v-on:click="hidden=!hidden">{{ hidden ? "&lt;" : "&gt;" }}</div>
        <div class="mute"></div>
    </div>
</script>

<script type="text/x-template" id="panel-main-template">
    <div id="panel-main">
        <panel-main-top :current_main_panel="current_main_panel"></panel-main-top>
        <div id="panel-main-battle" :class="{hidden:current_main_panel!=='battle'}">
            <div>
                <div id="panel-main-left">
                    <div class="ships">
                        <panel-ship-battle v-for="(ship, index) in fleets[0]"
                                           :num="index"
                                           :ship="ship"
                                           :key="ship.id">
                        </panel-ship-battle>
                    </div>
                </div>
                <div id="panel-main-right">
                    <div class="enemies">
                        <panel-enemy-battle v-for="(enemy, index) in enemies"
                                           :num="index"
                                           :enemy="enemy"
                                           :key="index">
                        </panel-enemy-battle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="panel-main-top-template">
    <div id="panel-main-top" :class="current_main_panel">
        <div class="battle" :class="{active:current_main_panel==='battle'}" @click="switchMainTab('battle')">battle</div>
        <div class="fleet" :class="{active:current_main_panel==='fleet'}" @click="switchMainTab('fleet')">fleet</div>
        <div class="port" :class="{active:current_main_panel==='port'}" @click="switchMainTab('port')">port</div>
        <div class="quests" :class="{active:current_main_panel==='quests'}" @click="switchMainTab('quests')">quests</div>
    </div>

</script>

<script type="text/x-template" id="panel-header-template">
    <div id="panel-top">
        <div id="panel-top-player">
            <div id="panel-top-teitoku">
                <span id="panel-top-teitoku-rank">{{ commander.rank }}</span>
                <span id="panel-top-teitoku-name" 
                      :class="{censor:commander.censor}" 
                      v-on:click="commander.censor=!commander.censor">{{ commander.censor ? "nope.jpg" : commander.name }}</span>
            </div>
            <div id="panel-top-hq" :style="expBar" :title="commander.HQ.exp+'/'+commander.HQ.next">
                <span id="panel-top-hq-rank">HQ {{ commander.HQ.lvl }}</span>
                <span id="panel-top-hq-points">+{{ commander.HQ.points }}</span>
            </div>
            <div id="panel-top-comment">{{ commander.comment }}</div>
        </div>
        <div id="panel-top-stats">
            <div id="panel-top-stats-tl">
                <span id="stats-tl-ships">{{ slots.ship[0] }}/{{ slots.ship[1] }}</span>
                <span id="stats-tl-equip">{{ slots.equip[0] }}/{{ slots.equip[1] }}</span>
                <span id="stats-tl-buck">{{ storage.buckets }}</span>
            </div>
            <div id="panel-top-stats-stock">
                <span id="stats-tl-fuel">{{ storage.fuel }}</span>
                <span id="stats-tl-steel">{{ storage.steel }}</span>
                <br>
                <span id="stats-tl-ammo">{{ storage.ammo }}</span>
                <span id="stats-tl-baux">{{ storage.bauxite }}</span>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="panel-ship-battle-template">
    <div class="ship ship-main" :class="extraIconClasses">
        <div class="shipIcon" :style="styleIcon"></div>
        <div class="ship-hp" :class="extraHPClasses" :title="ship.hp.now+'/'+ship.hp.max">
            <div v-for="n in hpBarCount" class="hp-block"></div>
        </div>
        <div class="status-box">
            <div class="ship-morale" :class="moraleClass" :title="ship.morale"></div>
            <div class="ship-fuel" :class="extraFuelClasses"
                 :title="ship.fuel[0]+'/'+ship.fuel[1]+'  '+Math.floor(ship.fuel[0]/ship.fuel[1]*100)+'%'"></div>
            <div class="ship-ammo" :class="extraAmmoClasses"
                 :title="ship.ammo[0]+'/'+ship.ammo[1]+'  '+Math.floor(ship.ammo[0]/ship.ammo[1]*100)+'%'"></div>
        </div>
    </div>
</script>

<script type="text/x-template" id="panel-enemy-battle-template">
    <div class="enemy enemy-main" :class="extraHPClasses">
        <div class="enemyIcon" :style="styleIcon"></div>
        <div class="ship-hp" :class="extraHPClasses" :title="enemy.hp.now+'/'+enemy.hp.max +'   ' + Math.floor(enemy.hp.now/enemy.hp.max*100)+'%'">
            <div v-for="n in hpBarCount" class="hp-block"></div>
        </div>
    </div>
</script>

<script type="text/x-template" id="panel-ship-template">
    <div class="ship ship-main" v-bind:class="extraIconClasses">
        <img :src="shipImagePath">
        <div class="name" :class="extraNameClasses">{{ ship.name }}</div>
        <div class="exp" :style="style"></div>
        <div class="type">{{ ship.type }}</div>
        <div class="lvl">{{ ship.lvl }}</div>
        <div class="refuel-box">
            <div class="ship-fuel" :class="extraFuelClasses">{{ fuelPercent }}%</div>
            <div class="ship-ammo" :class="extraAmmoClasses">{{ ammoPercent }}%</div>
        </div>
    </div>
</script>

<script src="app.js"></script>
</body>
</html>
