* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    text-align: center;
}

#box {
    width: 719px;
    height: 942px;
    border: 1px solid black;
    display: inline-block;
    background: white;
    position: relative;
}

html {
    background: black;
}

#twitter, #twitter a {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

/*******************************/
/*          panel              */
/*******************************/
#panel {
    width: 100%;
    height: 100%;
    background-color: grey;
    background-image: url("./img/background-custom.jpg"), url("https://safebooru.donmai.us/data/__hatsuzuki_kantai_collection_drawn_by_sekino_takehiro__c6127f035a772bd3decbe2f07858d9ce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/*******************************/
/*          panel top          */
/*******************************/

#panel-top {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 10%;
    /* background: rgba(255, 120, 0, 0.3); */
    font-weight: 800;
    text-align: left;
}

#panel-top-player, #panel-top-stats {
    display: inline-block;
    float: left;
    margin: 10px;
}

#panel-top-teitoku {
    line-height: 20px;
    font-size: 20px;
    color: #715900;
    min-width: 220px;
}

#panel-top-teitoku-rank {
    margin-right: 10px;
    text-transform: capitalize;
}

#panel-top-teitoku-name {
    color: black;
    cursor: pointer;
    float: right;
}

#panel-top-teitoku-name.censor {
    color: transparent;
    text-shadow: 0 0 10px rgba(139, 139, 139, 0.4);
}

#panel-top-hq {
    padding: 2px;
    position: relative
}

#panel-top-hq:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, green 50%, rgba(250, 0, 0, 0.5) 60%);
    top: 0px;
    left: 0;
}

#panel-top-hq-points {
    float: right;
}

#panel-top-comment {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

#panel-top-stats {
    float: right;
}

#stats-tl-ships {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

#stats-tl-ships:before {
    position: absolute;
    background: url("./img/ship.png") no-repeat;
    content: " ";
    top: 0;
    left: -20px;
    width: 19px;
    height: 19px;
    background-position: center;
}

#stats-tl-equip {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

#stats-tl-equip:before {
    position: absolute;
    background: url("./img/gear.png") no-repeat;
    content: " ";
    top: 0;
    left: -20px;
    width: 19px;
    height: 19px;
    background-position: center;
}

#stats-tl-buck {
    position: relative;
    margin-left: 20px;
}

#stats-tl-buck:before {
    position: absolute;
    background: url("./img/bucket.png") no-repeat;
    content: " ";
    top: 0;
    left: -20px;
    width: 19px;
    height: 19px;
    background-position: center;
}

#panel-top-stats-stock {
    margin-top: 10px;
}

#panel-top-stats-stock > span {
    float: right;
    width: 35%;
    text-align: right;
}

#stats-tl-fuel, #stats-tl-steel, #stats-tl-ammo, #stats-tl-baux {
    position: relative;
}

#stats-tl-fuel:before, #stats-tl-steel:before, #stats-tl-ammo:before, #stats-tl-baux:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 20px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
}

#stats-tl-fuel:before {
    background: url("./img/fuel.png") no-repeat;
}

#stats-tl-steel:before {
    background: url("./img/steel.png") no-repeat;
}

#stats-tl-ammo:before {
    background: url("./img/ammo.png") no-repeat;
}

#stats-tl-baux:before {
    background: url("./img/bauxite.png") no-repeat;
}

/*******************************/
/*          panel-main         */
/*******************************/

#panel-main {
    width: 100%;
    height: 60%;
    /*background: rgba(0, 255, 210, 0.3);*/
}

#panel-main-top {
    line-height: 32px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#panel-main-top > div {
    margin-right: 50px;
    display: inline-block;
    cursor: pointer;
}

#panel-main-top .battle {
    color: #ff0021;
}

#panel-main-top .fleet {
    color: #00ab13;
}

#panel-main-top .port {
    color: #5e5aff;
}

#panel-main-top .quests {
    color: #ff0088;
}

#panel-main :not(.active):not(:hover) {
    color: #a6a4a4;
}

#panel-main-top:before {
    height: 5px;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 2%;
    right: 0;
}

#panel-main-top.battle:before {
    background: rgba(255, 0, 0, 0.3);
}

#panel-main-top.fleet:before {
    background: rgba(0, 171, 19, 0.3);
}

#panel-main-top.port:before {
    background: rgba(94, 90, 255, 0.3);
}

#panel-main-top.quests:before {
    background: rgba(255, 0, 136, 0.3);
}

#panel-main > div.hidden {
    display: none;
}

/*****************************************/

#panel-main-battle {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    /* zoom: 0.7; */
}

#panel-main-left {
    text-align: left;
    float: left;
    display: inline-block;
}

#panel-main-right {
    float: right;
    display: inline-block;
    text-align: right;
}

#panel-main-left .ships {
}

#panel-main-right .enemies {
    margin-right: 40px;
}

#panel-main-left .ship, #panel-main-right .enemy {
    width: 220px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    position: relative;
    height: 50px;
}

#panel-main-left .ship {
    padding-left: 40px;
}

#panel-main-right .enemy {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#panel-main-left .ship.hp-taiha{
    background: rgba(255, 0, 0, 0.2);
}

@keyframes animation-taiha {
    0% {
        width: 40px;
        left: 0;
    }
    80% {
        width: 40px;
        left: 0;
    }
    90% {
        width: 46px;
        left: -3px;
    }
    100% {
        width: 40px;
        left: 0;
    }
}

#panel-main-left .ship.hp-taiha:after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    background: url("./img/Taiha.png") no-repeat;
    background-size: contain;
    background-position: center;
    animation: animation-taiha 5s infinite;
    left: 0;
}

#panel-main-left .ship .shipIcon, #panel-main-right .enemy .enemyIcon {
    width: 50px;
    height: 50px;
    background: var(--icon-path) no-repeat;
    background-size: contain;
}

.enemyIcon{
    float: right;
}

.sunk .enemyIcon{
    opacity: 0.3;
}

.enemy.sunk:after{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    height: 29px;
    content: " ";
    background: url("./img/e_sunk.png") no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}


.ship-hp {
    position: absolute;
    top: 0;
}
.ship .ship-hp {
    left: 97px;
}
.enemy .ship-hp{
    right: 57px;
}

.ship-hp .hp-block {
    width: 40px;
    height: 10px;
    background: linear-gradient(to bottom, #92fa00 0%, #2fa620 50%);
    clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 90% 100%, 100% 50%, 90% 0%);
    display: inline-block;
}
.ship .ship-hp .hp-block{
    margin-right: -2px;
}
.enemy .ship-hp .hp-block{
    clip-path: polygon(10% 0%, 100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%);
    margin-left: -2px;
}

.ship-hp.hp-shouha .hp-block {
    background: linear-gradient(to bottom, #fff172 0%, #b78a27 70%);
}

.ship-hp.hp-chuha .hp-block {
    background: linear-gradient(to bottom, #fab561 0%, #ff5e00 50%);
}

.ship-hp.hp-taiha .hp-block {
    background: linear-gradient(to bottom, #ff3938 0%, #b00005 50%);
}

#panel-main-left .ship.high-morale .shipIcon {
    border: 2px solid yellow;
    border-radius: 50%;
    box-sizing: border-box;
}

#panel-main-left .ship .name {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 55px;
    right: 50px;
    text-transform: capitalize;
    color: #c8e6ff;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#panel-main-left .ship .exp {
    position: absolute;
    height: 2px;
    content: " ";
    background: var(--gradient);
    top: 24px;
    left: 54px;
    width: calc(100% + 50px + 18px - 54px - 50px);
}

#panel-main-left .ship .name.married{
    color: #f39cd5;
}

#panel-main-left .ship .lvl {
    display: inline-block;
    text-transform: uppercase;
    color: #c8e6ff;
    padding-left: 50px;
    position: absolute;
    top: 28px;
    line-height: 20px;
}

#panel-main-left .ship .lvl:before {
    content: "lvl"
}

#panel-main-left .ship .type {
    display: inline-block;
    text-transform: uppercase;
    color: #337bff;
    position: absolute;
    top: 28px;
    line-height: 20px;
    left: 55px;
}

#panel-main-battle .refuel-box {
    position: absolute;
    vertical-align: middle;
    color: #9b9b9b;
    text-align: right;
    bottom: 0;
    left: 95px;
}

.ship-fuel, .ship-ammo {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
}

.ship-fuel.fuel-100 {
    background: url("./img/fuel_barrel.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-fuel.fuel-80,
.ship-fuel.fuel-60 {
    background: url("./img/fuel_barrel_grey.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-fuel.fuel-40,
.ship-fuel.fuel-20 {
    background: url("./img/fuel_barrel_red.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-fuel:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -1px;
    background: url("./img/fuel_barrel.svg") no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}

.ship-fuel.fuel-60:after,
.ship-fuel.fuel-40:after {
    background: url("./img/fuel_barrel_grey.svg") no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}

.ship-fuel.fuel-20:after,
.ship-fuel.fuel-0:after {
    background: url("./img/fuel_barrel_red.svg") no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: contain;
}

.ship-ammo.ammo-100 {
    background: url("./img/shell.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-ammo.ammo-80,
.ship-ammo.ammo-60 {
    background: url("./img/shell_grey.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-ammo.ammo-40,
.ship-ammo.ammo-20 {
    background: url("./img/shell_red.svg") no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.ship-ammo:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("./img/shell.svg") no-repeat;
    background-position-y: bottom;
    background-size: contain;
}

.ship-ammo.ammo-60:after,
.ship-ammo.ammo-40:after {
    background: url("./img/shell_grey.svg") no-repeat;
    background-position-y: bottom;
    background-size: contain;
}

.ship-ammo.ammo-20:after,
.ship-ammo.ammo-0:after {
    background: url("./img/shell_red.svg") no-repeat;
    background-position-y: bottom;
    background-size: contain;
}

/*******************************/
/*          panel-help         */
/*******************************/

#panel-help {
    width: 100%;
    height: 30%;
    background: rgba(0, 6, 255, 0.3);
}

/*******************************/
/*       panel-options         */
/*******************************/

#panel-options {
    --option-size: 36px;
    --background: #ffd600;
    text-align: center;
    position: absolute;
    right: 0;
    width: var(--option-size);
    top: 94px;
    vertical-align: middle;
    opacity: 1;
}

#panel-options.hidden {
    opacity: 0.3;
}

#panel-options > div {
    display: inline-block;
    background: var(--background);
    line-height: var(--option-size);
    font-size: var(--option-size);
    cursor: pointer;
    height: var(--option-size);
    width: var(--option-size);
    border: 1px solid black;
    border-right: none;
    color: black;
    vertical-align: middle;
}

#panel-options > div:last-child,
#panel-options.hidden > div.switch {
    border-bottom-left-radius: calc(var(--option-size) / 4);
}

#panel-options > div:first-child {
    border-top-left-radius: calc(var(--option-size) / 4);
}

/*hide div options by default*/
#panel-options.hidden > div {
    display: none;
}

/*but never hide toggle div*/
#panel-options.hidden > .switch {
    display: inline-block;
}

#panel-options .mute {
    background-size: cover;
    background: var(--background) url("./img/Speaker.svg") no-repeat 50% 50%;
}