* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    text-align: center;
}

#box {
    width: 719px;
    height: 942px;
    border: 1px solid black;
    display: inline-block;
    background: white;
    position:relative;
}

html {
    background: black;
}
#twitter,#twitter a{
    position:absolute;
    bottom:0;
    right:0;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight:800
}

/*******************************/
/*          panel              */
/*******************************/
#panel{
    width:100%;
    height:100%;
    background-color: grey;
    background-image: url("./img/background-custom.jpg"), url("https://safebooru.donmai.us/data/__hatsuzuki_kantai_collection_drawn_by_sekino_takehiro__c6127f035a772bd3decbe2f07858d9ce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
/*******************************/
/*          panel top          */
/*******************************/

#panel-top{
    font-family: 'Roboto', sans-serif;
    width:100%;
    height:10%;
    /* background: rgba(255, 120, 0, 0.3); */
    font-weight: 800;
    text-align: left;
}

#panel-top-player, #panel-top-stats {
    display:inline-block;
    float:left;
    margin: 10px;
}

#panel-top-teitoku{
    line-height:20px;
    font-size: 20px;
    color: #715900;
}

#panel-top-teitoku-rank{
    margin-right:10px;
    text-transform: capitalize;
}
#panel-top-teitoku-name{color: black;}
#panel-top-hq{
    padding: 2px;
    position:relative
}
#panel-top-hq:before {
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    background:linear-gradient(to right,green 50%,rgba(250,0,0,0.5 ) 60%);
    top:0px;
    left:0;
}
#panel-top-hq-points{
    float: right;
}
#panel-top-comment{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

#panel-top-stats{
    float:right;
}

#stats-tl-ships{
    position:relative;
    margin-left:20px;
    margin-right:20px;
}
#stats-tl-ships:before{
    position:absolute;
    background: url("./img/ship.png") no-repeat;
    content:" ";
    top:0;
    left:-20px;
    width: 19px;
    height: 19px;
    background-position: center;
}
#stats-tl-equip{
    position:relative;
    margin-left:20px;
    margin-right:20px;
}
#stats-tl-equip:before{
    position:absolute;
    background: url("./img/gear.png") no-repeat;
    content:" ";
    top:0;
    left:-20px;
    width: 19px;
    height: 19px;
    background-position: center;
}
#stats-tl-buck{
    position:relative;
    margin-left:20px;
}
#stats-tl-buck:before{
    position:absolute;
    background: url("./img/bucket.png") no-repeat;
    content:" ";
    top:0;
    left:-20px;
    width: 19px;
    height: 19px;
    background-position: center;
}
#panel-top-stats-stock{
    margin-top:10px;
}
#panel-top-stats-stock > span {
    float:right;
    width:35%;
    text-align:right;
}
#stats-tl-fuel,#stats-tl-steel,#stats-tl-ammo,#stats-tl-baux{
    position:relative;
}
#stats-tl-fuel:before,#stats-tl-steel:before,#stats-tl-ammo:before,#stats-tl-baux:before{
    position:absolute;
    content:" ";
    top:0;
    left:20px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size:cover;
}
#stats-tl-fuel:before{
    background: url("./img/fuel.png") no-repeat;
}
#stats-tl-steel:before{
    background: url("./img/steel.png") no-repeat;
}
#stats-tl-ammo:before{
    background: url("./img/ammo.png") no-repeat;
}
#stats-tl-baux:before{
    background: url("./img/bauxite.png") no-repeat;
}
/*******************************/
/*          panel-main         */
/*******************************/

#panel-main{
    width:100%;
    height: 60%;
    /*background: rgba(0, 255, 210, 0.3);*/
}
#panel-main-top{
    line-height: 32px;
    font-size: 32px;
    color: #ff0021;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
    padding-left:5%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
#panel-main-top:before{
    height:5px;
    content:" ";
    background: rgba(255, 0, 0, 0.3);
    position: absolute;
    bottom:0;
    left:2%;
    right:0;
}

#panel-main-battle{
    margin-top:20px;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    /* zoom: 0.7; */
}
#panel-main-left{
    text-align:left;
    float: left;
    display: inline-block;
}

#panel-main-right{

}

#panel-main-left .ships{
    /* padding-left:50px; */
}

#panel-main-left .ship{
    width:300px;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-top: 10px;
    font-weight:600;
    position:relative;
    margin-right: 5px;
    left: 40px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#panel-main-left .ship.ship-escort{
    background-color: rgba(5, 82, 57, 0.31);
    left: 80px;
    display: none;
}

#panel-main-left .ship img{
    width:50px;
    height:50px;
}
#panel-main-left .ship.high-morale img{
    border:2px solid yellow;
    border-radius:50%;
    box-sizing:border-box;
}

#panel-main-left .ship .name{
    display: inline-block;
    position:absolute;
    top:0;
    left:55px;
    right:50px;
    text-transform:capitalize;
    color:#c8e6ff;
    line-height:24px;
    height:24px;
}
#panel-main-left .ship .name:after{
    position:absolute;
    width:100%;
    height:2px;
    content: " ";
    background: var( --gradient );
    /*background:linear-gradient(to right,#64fffe 50%,rgba(250,0,0,0.5 ) 60%);*/
    bottom:0;
    left:0;
    right:0;
}

#panel-main-left .ship .name.married{
    color:#f39cd5;
}

#panel-main-left .ship .lvl{
    display: inline-block;
    text-transform:uppercase;
    color:#c8e6ff;
    padding-left:50px;
    position:absolute;
    top:28px;
    line-height:20px;
}

#panel-main-left .ship .lvl:before{
    content:"lvl"
}

#panel-main-left .ship .type{
    display: inline-block;
    text-transform:uppercase;
    color:#337bff;
    position:absolute;
    top:28px;
    line-height:20px;
    left:55px;
}

#panel-main-battle .refuel-box{
    position:absolute;
    right:0;
    top:0;
    vertical-align: middle;
    color: #9b9b9b;
}
.ship-fuel,.ship-ammo{
    color:#0fd30f;
}
.ship-fuel.penalty,.ship-ammo.penalty{
    color:orange;
}
.ship-fuel{
    height: 49%;
    position:relative;
}
.ship-fuel:before,.ship-ammo:before{
    position:absolute;
    content:" ";
    top:2px;
    left:-20px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size:cover;
}
.ship-fuel:before{
    background: url("./img/fuel.png") no-repeat;
}
.ship-ammo{
    height: 49%;
    position:relative;
}
.ship-ammo:before{
    background: url("./img/ammo.png") no-repeat;
}
/*******************************/
/*          panel-help         */
/*******************************/

#panel-help{
    width:100%;
    height: 30%;
    background: rgba(0, 6, 255, 0.3);
}